.alert {
    position: fixed;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #12bcad;
    color: white;
    width: 20%;
    z-index: 9999;
    margin: 0 auto;
    left: 50%;
    bottom: 20px;
    text-align: center;
}
